@font-face{
  font-family:"Work-Sans-Light";
  src: url("Work-Sans-Light.ttf");
  src:url("Work-Sans-Light.ttf.eot");
  src:url("Work-Sans-Light.ttf.woff") format("woff"),url();
}
body{
  background:#000;
  margin:0px !important;
  height:100%;
  overflow:hidden;
}
a{
  color: #fff;
  font-family: "Work-Sans-Light","Arial",sans-serif;
  font-weight:normal;
  font-style:normal;
  text-decoration: none;
  display:block;
  padding: 20px auto;
  position: relative;
  overflow: hidden;
  padding:0 6px;
  text-transform: uppercase;
  -webkit-transition:color .3s cubic-bezier(0.11, 0.7, 0, 1);
  transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
  font-size:  1.3rem;
  letter-spacing: .1rem;
  line-height: 1.8;
  pointer-events:auto;

}
#canvas{
  filter:blur(5px);
  animation-name: canvasFade;
  animation-iteration-count: 1;
  animation-timing-function: fadeIn;
  animation-duration: 2s;
  animation-fill-mode:forwards;
  animation-delay: 7s;
}
@keyframes canvasFade {
  0%{
    filter:blur(5px);
  }
  100%{
    filter:blur(0px);
  }
}
.canvas_container{
  margin-top:30%;
  left:calc(50% - 400px)
  position:fixed;
}
@media(min-width:1000px){
  .canvas_container{
    margin-top:15%;
  }
}
@media(max-width:1000px){
  .canvas_container{
    margin-top:50%;
  }
}
.content{

  text-align:center;
}
.project-link{
  opacity:0;
  width:min-content;
  display:inline-block;
  *display:inline;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: fadeIn;
  animation-duration: 2s;
  animation-fill-mode:forwards;
  animation-delay: 7s;

}
#plink{
  margin-right:10px;
}
#rlink{
  margin-left:10px;
}
.link4{
  top:8rem;
  line-height: 2.2rem;
  cursor:pointer;
  white-space: nowrap;
  border-bottom:1px solid #616161;
  margin-bottom:-5px;
  -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}
.link4:after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  content: "";
  -webkit-transform:scale(0);
  -moz-transform:  scale(0);
  -ms-transform:   scale(0);
  -o-transform: scale(0);
  transition: transform 0.5s cubic-bezier(0.11, 0.7, 0, 1);
}

.link4:hover:after {
  transform: scale(1);
  -webkit-transform:scale(1);
  -moz-transform:   scale(1);
  -ms-transform:    scale(1);
  -o-transform: scale(1);
}

#teardrop{
  position:fixed;
  top:48%;
  left:calc(50% - 10px);
}
.td{
  opacity:0;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-fill-mode:forwards;
  animation-delay: 0.7s;
  z-index:10;
}
.loader2{
  text-align:center;
  display: inline-block;
  width: 16px;
  height: 16px;
  left:-8px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  position:relative;
  display: inline-block;
  width: 100%;
  padding:2px;
  top:-4px;
  left:-2px;
  background: #fff;
  animation: loader-inner 2s infinite ease-in;
}


@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
.loader
{
  z-index:-1;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  display:flex;

}

.loader div{
  width:100%;
  height:100%;
  background: #222222;
  animation-name: fadeInBG;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-fill-mode:forwards;
  z-index:10;
}
.td2{
  opacity:0;
  width:100%;
  height:100%;
  clip-path:url(".animate");
  position:relative;
  overflow:hidden;
  white-space: nowrap;
  animation-delay: 0.9s;
  animation-name: fadeInTD;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.36, 0, 0.66, -0.56);
  animation-duration: 5.3s;
  animation-fill-mode:forwards;
}

.animate{
  top:0px !important;
  opacity:0;
  animation-delay: 1.8s;
  position:absolute;
  animation-name: fadeIn2;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
  animation-duration: 1.5s;
  animation-fill-mode:forwards;
}
.nextscreen{
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#161317;

}
.line {
  opacity:0;
  animation-delay:2.8s;
  animation-name: linefade;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  animation-duration: 3s;
  animation-fill-mode:forwards;
  position:absolute;
  top:58%;
  height: 0;
  border-top: 0.25px solid #7a7a7a;
  display:inline-block;

}
.line2 {
  opacity:0;
  animation-delay:3.4s;
  animation-name: linefade;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  animation-duration: 3s;
  animation-fill-mode:forwards;
  position:absolute;
  top:58%;
  height: 0;
  border-top: 0.25px solid #fff;
  display:inline-block;
}
.container{
  opacity:1;
  z-index:0;
  width:100%;
  height:100%;
  animation-delay:5.2s;
  animation-name: opfade;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  animation-duration: 0.5s;
  animation-fill-mode:forwards;
}
/*
.static_container{
  animation-delay:7.5s;
  animation-name: fadecust;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  animation-duration: 1s;
  animation-fill-mode:forwards;
}
*/
.main{
  overflow:hidden;
}
.static{
  z-index:-1;
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: 0.4;
  visibility: visible;
}
.page{
  z-index:20;
}
.whitetext{
  color:#fff;
}

.content{
  background-color: #485461;
  background-image: linear-gradient(
-190deg
, #070a12 0%, #1c223b 74%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b1b1b",endColorstr="#000000",GradientType=1);
  opacity:0;
  width:100%;
  height:100%;
  animation-delay:5.5s;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  animation-duration: 1s;
  animation-fill-mode:forwards;
}

@keyframes fadecust{
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}
@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}
@keyframes opfade{
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
    width:0px;
    height:0px;
  }
}
@keyframes fadeInBG {
    0%{
      opacity:0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInTD {
    0% {
        opacity: 0;
        top:48%;
        left:calc(50% - 10px);
    }
    30%{
      opacity:0;
    }
    45% {
        opacity: 1;
    }
    65%{
      top:48%;
      left:calc(50% - 10px);
      opacity:1;
    }
    75%{
      top:48%;
    }
    85%{
      top:53%;
      opacity:0;
    }

}
@keyframes fadeIn2 {
    0% {
        opacity:1;
        width:0.14%;
        height:0;
        left:49.93%;

    }

    40%{
      height:100%;
      width:0.14%;
      left:49.93%;
    }

    100% {
        width:100%;
        height:100%;
        left:0;
        opacity:1;
    }
}
@keyframes fadeIn3 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes linefade {
    0% {
        opacity: 0%;
        left:49.5%;
        width:1%;

    }

    10%{
      opacity:1;
    }
    25% {
      opacity:1;
        width:30%;
        left:35%;
    }
    50%{
      opacity:1;
      left:35%;
      width:30%;

    }
    70%{
      left:50%;
      width:0%;
      opacity:1;
    }

}
.main .inner {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    pointer-events: none;
    -ms-flex-pack: center;
    justify-content: center;
}
.main h1 {
  font-size:4.8rem;
  line-height:4.8rem;
  opacity:0 !important;
    font-family: "Work-Sans-Light","Arial",sans-serif;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    text-transform: initial;
}
.js-tagLine{
  transition:1s;
  -webkit-transition:1s;
    position:fixed;
    top:10%;
    color:#fff;
}
@media only screen and (min-width:2000px){
  html,body{
    font-size:12px;
  }
  .work__overview{

  }
}
@media only screen and (max-width:2000px){
  html,body{
    font-size:10px;
  }
}
@media only screen and (max-width:1450px){
  html,body{
    font-size:9px;
  }
}
@media only screen and (max-width:1305px){
  html,body{
    font-size:8px;
  }
}
@media only screen and (max-width:1150px){
  html,body{
    font-size:7px;
  }
}
@media only screen and (max-width:980px){
  html,body{
    font-size:6px;
  }
}
